*{
    margin: 0;
    padding: 0;
  }
  
    body{
            background: #1a1a1a;
        }
html{
  scroll-behavior: smooth;
}        
.mobile-phones{
    background: url(images/mp.webp)no-repeat center;
    background-size: cover;
}        
.ryzen{
    background: url(images/ryzen.png)no-repeat center;
    background-size: cover;
    height: 35vmin;
    
}        
     .card-img-top:hover{
        transform: scale(1.1);
        cursor: pointer;
     }
    .star{
        color: chartreuse;
        padding-top: 0px;
    }
    .star1{
        color: whitesmoke;
        padding-top: 0px;
    }
    .formcontrol{
        background: #fff;
        padding: 1.4rem 4.4rem 1.4rem 2.2rem;
        width: 100%;
        border: none;
        border-radius: 8px;
        font-size: 2vmin;
    }
    ul li{
        line-height: 2rem;
        cursor: pointer;
    }
    ul li:hover{
        color: cornflowerblue;
        cursor: pointer;
    }
    .bi-1:hover{
          color: red;
          cursor: pointer;
    }
    .bi-2:hover{
          color: rgb(0, 81, 255);
          cursor: pointer;
    }
    .bi-3:hover{
          color: red;
          cursor: pointer;
    }
    .bi-4:hover{
          color: rgb(0, 81, 255);
          cursor: pointer;
    } 
    .bi-5:hover{
          color: rgb(0, 81, 255);
          cursor: pointer;
    }
    .list-group-item2 {
      background: #00000093;
      color: #fff;
      text-decoration: none;
      line-height: 2.5rem;
      padding-left: 1rem;
    }
    .list-group-item2:hover {
      background: #048a52;
      color: #fff;
     
    }
    .list-group-item3 {
      background: #00000093;
      color: #fff;
      text-decoration: none;
      line-height: 2.5rem;
      padding-left: .5rem;
      font-size: .8rem;
    }
    .list-group-item3:hover {
      background: #06e588;
      color: #fff;
     
    }
    .list-group-item1 {
      background: #48434393;
      color: #fff;
      text-decoration: none;
      line-height: 2.5rem;
      padding-left: 1rem;
      font-size: .8rem;
    }
    .list-group-item1:hover {
      background: #06e588;
      color: #fff;
     
    }
    .tab-pane ul li{
      list-style-type: none;
    }
    .tabs{
    height: 600px;
    width: 24vmin;
    overflow: hidden;
    }
 
    .tabs:hover{
      overflow-y: auto;
    }
    .tabs2{
    height: 600px;
    width: 34vmin;
    overflow: hidden;
    }
    .tabs2:hover{
      overflow-y: auto;
    }
    .tabs1{
    height: 600px;
    overflow: hidden;
    }

    .tabs1:hover{
      overflow-y: auto;
    }
    .tabs3{
    height: 600px;
    overflow: hidden;
    }
    .tabs3:hover{
      overflow-y: auto;
    }
    .filterscroll{
      height: 150rem;
    overflow: hidden;
    }
    .filterscroll:hover{
      overflow-y: auto;
    }
    .line{
      border-bottom:2px solid #fff;
     }
     .shop{
      font-size: 1rem;
     }
     ::placeholder{
        font-size: 1rem;
        color: #000;
     }
     .card-usd{
    line-height: 3vh;
 }
 .imgtshirt{
    display: inline-flex;
 }
 .biheart{
    color: #ffffff;
  
 }
 .biheart:hover{
    color: #06e588;
 }
 .star{
    color: chartreuse;
    padding-top: 0px;
}
.dropdown:hover{
    color: #06e588;
}
.dropdown{
    color: #ffffff;
    text-decoration: none;
    padding: 2rem;
    line-height: 2.5rem;
}
.btn1{
    padding: .8rem 2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background: transparent;
    border: none;
    outline:1px solid #fff;
    color: #fff;
}
.form-check-input{
     background: transparent;
     border:1px solid #fff;

}
.form-check-input:checked{
    background: #06e588;

}
 

.btnpink{
    outline: 1px solid rgb(238, 25, 174);
    border: none;
    background: transparent;
    color:rgb(238, 25, 174); 
    padding: .8vmin;
    border-radius: .8vmin;
    font-size: 1.4vmin;
}
.btnpink1{
    outline: 1px solid rgb(238, 25, 174);
    border: none;
    background: transparent;
    color:rgb(238, 25, 174); 
    padding: .8vmin;
    border-radius: .8vmin;
    font-size: 1.4vmin;
}
.bihearts1{
    color: #ffffff;
}
.bihearts1:hover{
    color: #06e588;
    cursor: pointer;
}
.Apple{
    font-size: 3vmin;
    color: #fff;
    font-weight: 600;

}
.phones{
    font-size: 3vmin;
    color: #fff;
    font-weight: 600;
}
.phones1{
    font-size: 2vmin;
    color: #fff;
    font-weight: 600;
}
 
.p1{
  
    padding-top: 2vmin;
}
.p2{
    font-size: 3.4vmin;
}
.p3{
    font-size: 1.7vmin;
    padding: .5rem 0;
}
.p4{
    font-size: 1.7vmin;
}
.p5{
    font-size: 1.7vmin;
}
.list-group-items:hover{
  color: #06e588;

}
.list-group-items{
  list-style-type: none;
  padding-left: 1rem;
  color: #ffffff;

}
.list-group-item1{
  padding: 0 1rem;
  background: #212121;
  width: 10rem;
 
 font-size: .6rem;
  
}
.list-group-items.active{
     color: #06e588;

}
.form-check-label{
  font-size: 15px;
}
.form-check-label1{
  font-size: 10px;
}
.form-check-label2{
  font-size: 15px;
  overflow: auto;
}
.form-check-label5{
  font-size: 18px;
}
.form-check1{
   font-size: 2rem;
   text-align-last: center;
}
.list-group-item4{
      background: #212121;
      color: #fff;
      text-decoration: none;
      line-height: 1rem;
      padding: 1rem;
      text-align: center;
      padding-left: .5rem;
      font-size: .8rem;
      border-top: 1px solid rgb(71, 68, 68);
      border-left: 1px solid rgb(71, 68, 68);
      border-right: 1px solid rgb(71, 68, 68);
    }
    .list-group-item4:hover {
      background: #06e588;
      color: #fff;
     
    }
    .list-group{
      gap: .2rem;
      
    }
    .login{
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    width: 25rem;
    height: 2.5rem;
    margin: auto;
    }
    .modal-body {
      align-self: center;
    }
    .email-input{
      width: 25rem;
      height: 3rem;
      background: transparent;
      color: #fff;
      border: 1px solid rgb(255, 255, 255);
      padding-left: 2rem;
    }
    .form{
      font-size: 1.5rem;
      border-radius: 1px;
    }
.btnsort{
  width: 12.5rem;
  height: 4rem;
  background: rgb(49, 47, 47);
  font-size: 1.5rem;
  color: #fff;
}
.btn-control{
  justify-content: space-around;
}
.modal-header{
  border: none;
}
.email-input-pin{
  width: 25rem;
  height: 4rem;
  border-radius: 8px;
  background: #fff;
  padding-left: 2rem;
}
.btndark{
  width: 10rem;
  height: 3.5rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
.btndark:hover{
  background: #06e588;
  color: #000;
}
.email-input-pin2{
  width: 20rem;
  height: 4rem;
  border-radius: 4px;
  background: transparent;
  padding-left: 2rem;
  color: #fff;
  border: 1px solid #fff;
}
.getlocation{
  width: 20rem;
  height: 4rem;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 1rem;
  font-size: 1.2rem;
}
.btnaddress{
  width: 20rem;
  height: 3.5rem;
  border-radius: 4px;
  background: transparent;
 
  color: #fff;
  border: 1px solid #fff;
}
.btnContinue{
  width: 20rem;
  height: 3.5rem;
  border-radius: 12px;
  background: #06e588;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}
.btnContinue:hover{
  background: #07603b;
  color: #000;
}
.form-control-md{
  width: 100%;
  padding: .6rem 0;
  border-radius: 8px;
  color: #000;
  padding-left: 1rem;
}
.to-top{
  background: #fff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.imgspace img{
  width: 260px;
  height: 400px;
  object-fit: cover;
}
.btncompare{
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  background: #06e588;
}
.btncompare:hover{
   background: #fff;
}
.btncompare1{
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 8px;
}
.btncompare1:hover{
  background: #06e588;

}
@media(min-width:267px) and (max-width:1014px) {
  .email-input-pin{
    width: 20rem;
  height: 4rem;
  border-radius: 8px;
  background: #fff;
  padding-left: 2rem;
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .login{
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    width: 20rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .continuing{
 font-size: .8rem;
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .modal-body{
    align-self: center;
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .email-input{
    width: 18rem;
      height: 2.5rem;
      background: transparent;
      color: #fff;
      border: 1px solid rgb(255, 255, 255);
      padding-left: 1rem;
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .form-check1{
    font-size: 1rem;
    text-align: start;
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .form-check-label2{
    font-size: .6rem;
    
  }
}
@media(min-width:267px) and (max-width:1014px) {
  .imgspace{
       display: inline-grid;
}
}
@media(min-width:200px) and (max-width:1014px) {
  .slider{
       margin-top: 2.1rem;
       
}
}
@media(min-width:200px) and (max-width:1014px) {
  .btnpink{
    width: 5rem;
    height:2rem ;
    outline: 1px solid rgb(238, 25, 174);
    border: none;
    background: transparent;
    color:rgb(238, 25, 174); 
    font-size: 7px;
}
}
@media(min-width:200px) and (max-width:1014px) {
  .btnpink1{
    width: 4rem;
    height:2rem ;
    outline: 1px solid rgb(238, 25, 174);
    border: none;
    background: transparent;
    color:rgb(238, 25, 174); 
    font-size: 7px;
    margin-left: 2px;
}
}
@media(min-width:200px) and (max-width:1014px) {
  .p1{
    padding-top: 10px;
line-height: 1.2rem;
  }
}
@media(min-width:200px) and (max-width:1014px) {
    .p2{
      font-size: 1rem;
    }
  }
@media(min-width:200px) and (max-width:1014px) {
    .p2{
      font-size: 1rem;
    }
  }
@media(min-width:200px) and (max-width:1014px) {
  .p3{
    font-size: .5rem;
 
  }
  }
@media(min-width:200px) and (max-width:1014px) {
  .p4{
    font-size: .5rem;
  }
  }
@media(min-width:200px) and (max-width:1014px) {
  .p5{
    font-size: .6rem;
  }
  }
@media(min-width:200px) and (max-width:1014px) {
  .imgspace img{
    width: 100px;
    height: 140px;
    object-fit: cover;
    padding-right: .5rem;
  }
}
@media(min-width:200px) and (max-width:1014px) {
  .btncompare{
 width:49%;
 height: 4rem;
 border: none;
 border-radius: .5rem;
 font-size: 1.5rem;
 background: #06e588;

  }
}
@media(min-width:200px) and (max-width:1014px) {
  .btncompare1{
 width: 49%;
 height: 4rem;
 border: none;
 border-radius: .5rem;
 font-size: 1.5rem;
 background: #134ddd;
 
  }
 
}
 
 
 
      


 

 
 


